.middle-container {
  display: block;
  margin: 10px auto;
  width: 60%;
  background-color: #808080;
  border: 1px solid red;
}

.big-container {
  width: 100%;
  text-align: center;
}

.team-container {
  padding: 20px 0;
  margin-top: 100px;
  width: 14%;
  color: #ECEFF1;
}

@media (max-width: 900px) {
  * {
    font-size: 12px;
  }
}

@media (max-width: 500px) {
  * {
    font-size: 8px;
  }
}


.card {
  position: relative;
  display: inline-block;
  width: 16.6%;
  height: calc(10vw / 1.58);
  margin: 3px 1.5%;
}

.card-content {
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: calc(100% - 12px);
  height: calc(100% - 12px);
}

.card-cover {
  position: absolute;
  left: 0;
  top: 0;
  width: calc(100% - 12px);
  height: 10%;
}

button {
  background-color: #ffa100;
  color: black;
}

.main-container {
  width: 100vw;
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.background-red {
  background-image: url("https://cdn.codenames.game/img/bg-red.jpg");
}

.background-blue {
  background-image: url("https://cdn.codenames.game/img/bg-blue.jpg");
}

.hint-input {
  background-color: #f8f6f2;
  margin: 10px;
  border-radius: 20px;
}

.message {
  font-size: 28px;
  color: #ECEFF1;
}

.message-container {
  margin-top: 40px;
  text-align: center;
}

.cards-left-container {
  display: inline-block;
  width: 15%;
  margin-top: 20px;
  font-size: 20px;
}
