<div class="big-container" *ngIf="currentUser.id===''">
  <div>
    <mat-form-field>
      <input matInput [(ngModel)]="currentUser.nickname">
    </mat-form-field>
  </div>
  <button mat-button (click)="joinUser()">join game</button>
</div>

<div class="big-container" style="margin: 0;" *ngIf="room && currentUser.id !== ''">
  <div *ngIf="!room.isStarted" style="display: block; margin: 50px auto; width: 200px;">
    Spectators
    <ol>
      <li *ngFor="let spectator of spectators as User">
        {{spectator.nickname}}
      </li>
    </ol>
  </div>

  <div *ngIf="currentUser.isHost && !room.isStarted">
    <button mat-button (click)="startGame()">Start Game</button>
  </div>

  <div style="background-color: #f83535; padding: 20px; float: left; width: 200px; margin-top: 100px;">
    <div style="margin: 10px">
      Operatives
      <ol>
        <li *ngFor="let redOperative of redOperatives as User">
          {{redOperative.nickname}}
        </li>
      </ol>
      <button mat-button (click)="joinTeamAndGroup('red', false)">Join As Operative</button>
    </div>

    <div style="margin: 10px">
      Spymasters
      <ol>
        <li *ngFor="let redSpymaster of redSpymasters as User">
          {{redSpymaster.nickname}}
        </li>
      </ol>
      <button mat-button (click)="joinTeamAndGroup('red', true)">Join As Spymaster</button>
    </div>
  </div>


  <div style="background-color: cornflowerblue; padding: 20px; float: right; width: 200px; margin-top: 100px;">
    <div style="margin: 10px">
      Operatives
      <ol>
        <li *ngFor="let blueOperative of blueOperatives as User">
          {{blueOperative.nickname}}
        </li>
      </ol>
      <button mat-button (click)="joinTeamAndGroup('blue', false)">Join As Operative</button>
    </div>

    <div style="margin: 10px">
      Spymasters
      <ol>
        <li *ngFor="let blueSpymaster of blueSpymasters as User">
          {{blueSpymaster.nickname}}
        </li>
      </ol>
      <button mat-button (click)="joinTeamAndGroup('blue', true)">Join As Spymaster</button>
    </div>
  </div>
</div>


<!--game-->
<div *ngIf="room && currentUser.id !== '' && room.isStarted" class="main-container"
     [class.background-red]="room.whoseTurn==='red'"
     [class.background-blue]="room.whoseTurn==='blue'">

  <div style="height: 100px;">

  </div>

  <div class="middle-container">
    <div *ngFor="let card of room.cards" class="card">
      <img *ngIf="!card.isGuessed" [src]="card.imgPath" class="card-content" (click)="cardClicked(card)"
           [ngStyle]="{'border': '6px solid ' + (currentUser.isSpymaster ? card.color : 'gray')}">

      <div *ngIf="card.isGuessed && !card.isRevealed" class="card-content"
           [ngStyle]="{'background-color':card.color, 'border': '0px solid ' + card.color}"
           (click)="guessedCardClicked(card)"></div>
      <!--    TODO: overlay should be added-->

      <!--    <div *ngIf="card.isGuessed && card.isRevealed" style="display: inline-block;" class="card-cover"-->
      <!--         [ngStyle]="{'background-color':card.color}" (click)="guessedCardClicked(card)"></div>-->
    </div>
  </div>

  <div *ngIf="currentUser.isSpymaster && currentUser.team === room.whoseTurn && !room.isGuessing && !room.isFinished"
       style="text-align: center;">
    <mat-form-field appearance="fill" class="hint-input">
      <mat-label>enter hint</mat-label>
      <input matInput [(ngModel)]="room.message">
    </mat-form-field>
    <mat-form-field style="width: 50px;" class="hint-input" appearance="fill">
      <input matInput type="number" [maxLength]="1" [(ngModel)]="room.numTries">
    </mat-form-field>
    <button mat-button (click)="sendHint()">send hint</button>
  </div>

  <div *ngIf=" room.isGuessing && !room.isFinished"
       class="message-container">
    <mat-label class="message">
      hint is {{room.message}}, number of times is {{room.numTries}}
    </mat-label>
  </div>
  <div *ngIf="room.isFinished" class="message-container">
    <mat-label class="message">
      {{room.winnerTeam}} team wins (you win <3)
    </mat-label>
  </div>
</div>
